@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply bg-gray-100;
}
.btn{
    @apply bg-blue-500 text-white font-bold rounded border-blue-800 py-2 px-4 border-b-4;
}       

.repos-list{
    columns: 3;
    -moz-columns: 3;
    column-rule: 1px solid;
    @apply p-4;
}
.repos-list li{
    break-inside: avoid-column;
}
